<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid my-5">

		<h1 class="text-warning" th:text="${title}"></h1>


		<ul class="list-group ml-5 col-md-2 font-weight-bold ">
			<li class="list-group-item list-group-item-warning"
				th:text="${task.deadline}"></li>
			<li class="list-group-item list-group-item-info" th:text="Fet"></li>
			<li><input type="checkbox" name="active"
						th:checked="${task.done}" /></li>
		</ul>

<table class="table table-responsive table-hover my-4">
<tbody id="infoTask"></tbody>

</table>


		<table th:if="${task.company != null}"
			class="table table-responsive table-hover my-4">
			<!--  h2 class="text-info" th:text="${companyName}"></h2>-->
			<tbody id="companyTable">
				<tr>
					<td><a
						class="btn btn-outline-info btn-xs text-info font-weight-bold"
						th:href="@{/company/view/} + ${task.company.id}"
						th:text="${task.company.name}"></a></td>
					<td th:text="${task.company.email}"></td>
					<td th:text="${task.company.phone}"></td>
					<td><a class="btn btn-outline-info btn-xs"
						th:href="@{/company/form/} + ${task.company.id}">Modificar</a></td>
				</tr>
			</tbody>
		</table>
		<table th:if="${task.employee != null}"
			class="table table-responsive table-hover my-4">

			<tbody id="employeeTable">
				<tr>
					<td><a
						class="btn btn-outline-info btn-xs text-info font-weight-bold"
						th:href="@{/employee/view/} + ${task.company.id} + @{/} + ${task.employee.id}"
						th:text="${task.employee.name}"></a></td>
					<td th:text="${task.employee.nif}"></td>
					<td th:text="${task.employee.naf}"></td>
					<td th:text="${task.employee.email}"></td>
					<td><a class="btn btn-outline-info btn-xs"
						th:href="@{/employee/form/} + ${task.company.id} + @{/}+ ${task.employee.id}">Modificar</a>
						</a></td>

				</tr>
			</tbody>

		</table>

		<br />



		<div th:if="${not #lists.isEmpty(task.taskInformations)}"
			class="col-sm-6">
			
			<h2 class="text-info">Informacions</h2> <input class="form-control pr-0" id="tableSearch" type="text"
				placeholder="escriu el que vols buscar">
		</div>
		
		<table th:if="${not #lists.isEmpty(task.taskInformations)}"
			class="table table-responsive table-hover my-4">

			<thead>
				<tr>
					<th>Descripció</th>
					<th>Comentari</th>
					<th>Fet</th>

				</tr>
			</thead>
			<tbody id="myTable">
				<tr th:each="row: ${task.taskInformations}">
					<td th:text="${row.information.description}"></td>
					<td th:text="${row.comment}"></td>
					<td><input type="checkbox" name="active"
						th:checked="${row.done}" /></td>
				</tr>

			</tbody>
		</table>


		<ul class="list-group">
			<li class="list-group-item list-group-item-warning"
				th:text="'Tasca: ' + ${task.description}"></li>
			<li class="list-group-item"
				th:text="'Data Creació: ' + ${task.createAt}"></li>
		</ul>


	</div>




	<footer th:replace="layout/layout :: footer"></footer>
	<script src="/js/search-in-table.js"></script>
</body>
</html>