<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid my-5">


		<h1 class="text-warning" th:text="${title}"></h1>

		<br />

		<div class="row">
			<div class="col-sm-6">
				<input class="form-control pr-0" id="tableSearch" type="text"
					placeholder="escriu el que vols buscar">
			</div>

			<a th:href="@{/task/form}" class="btn btn-outline-info btn-xs mr-2">Nova
				Tasca</a> <a th:href="@{/company/form}"
				class="btn btn-outline-info btn-xs mr-2">Nova Empresa</a> <a
				th:href="@{/employee/form}" class="btn btn-outline-info btn-xs">Nou
				Treballador</a>

		</div>

		<br>

		<table class="table table-responsive table-hover">
			<thead>
				<tr>
					
					<th>descripció</th>
					<th>opcional</th>
					<th>enviar</th>
					<th>data</th>
					<th>data creació</th>
					<th>opcions</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="task: ${tasks}">
					<td><a class="btn btn-outline-primary btn-xs"
						th:href="@{/task/view/} + ${task.id}"
						th:text="${task.description}"></a></td>
					<td th:checkbox="${task.optionalSubtask}"></td>
					<td th:checkbox="${task.toSend}"></td>
					<td th:text="${task.deadline}"></td>
					<td th:text="${task.createAt}"></td>
					<td><a class="btn btn-outline-info btn-xs"
						th:href="@{/task/form/task/} + ${task.id}">Modificar</a> 
						<a class="btn btn-outline-info btn-xs"
						th:href="@{/task/view/} + ${task.id}">Veure</a> 
						<a
						class="btn btn-outline-danger btn-xs"
						th:href="@{/task/delete/} + ${task.id}"
						th:text="'Eliminar'"
						onclick="return confirm('Segur que vols eliminar?');"></a></td>
				</tr>

			</tbody>

		</table>
	</div>



	<footer th:replace="layout/layout :: footer"></footer>
	<script src="/js/search-in-table.js"></script>
</body>

</html>